/*/*h2{
    color: green;
}
h3{
    color: orange;
}
h4,h5{
    color: pink;
}*/*/

/*{
color: yellow;
}

div>p{
    color: palegreen;
}
div a{
    color: red;
}
h1~h6{
    color:blue ;
}

h1+h2{
    color:green ;
}*/
#sri{
    color: green;
}
.sethu{
    color: blue;
}